body {
    width: 100%;
}

.row {
    margin: 0 auto;
}

#map {
    width: 85%;
    height: 250px;
    background-color: whitesmoke;

}

.courses {
    padding: 10px;
    background-color: #FFF;
    margin: 0 10px;
}
.green{
    background-color: #2b669a;
    border: solid;
    border-radius: 10%;
}
.marginBox{
    margin: 5px;
    background-image: url("images/golfcourse.jpg");
}
